/*************General Selector***************/
body {
    margin: 0;
    width: auto;
    height: auto;
}
h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 120px;
    color: #4d3300;
    margin-bottom: 0;
}
h2 {
    margin-top: 0;
    font-family: 'Alegreya', serif;
    text-align: center;
    font-size: 40px;
    color: #4d3300;
}
h3 {
    margin-top: 0;
    font-family: 'Alegreya', serif;
    text-align: center;
    margin-top: 0;
    color: black;
}
p {
    font-family: 'Alegreya', serif;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #015757;
    font-size: 15px;
}
hr {
    border-style: dotted none none none;
    border-width: 5px;
    border-color: grey;
    width: 5%;
}

/****************Div Selector****************/
.body-container{
    background-color: #f5ffff;
}
.top-container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    background-image: url("images/pattern2.jpg");
}

.self-container{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1px 0px 1px 0px;
    display: inline-block;
}
.myself-container{
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: center;
    line-height: 2;
}

.skill-container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 1px 0px 1px 0px;
    display: inline-block;
}
.myskill-container-right{
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: justify;
    line-height: 2;
}
.myskill-container-left{
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: justify;
    line-height: 2;
}

.exp-container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 1px 0px 1px 0px;
    display: inline-block;
}
.myexp-container{
    width: 75%;
    margin: 100px auto 100px auto;
    text-align: center;
    line-height: 2;
}

.contact-container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 1px 0px 1px 0px;
    display: inline-block;
}
.mycontact-container{
    width: 75%;
    margin: 100px auto 100px auto;
    text-align: center;
    line-height: 2;
}

.bottom-container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 20px 0px 20px 0px;
    background-image: url("images/pattern2.jpg");
    text-align: center;
}
/***************Image Selector**************/
.renz-center {
    margin: 0 auto 50px auto;
    display: block;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    border-style: solid #ffffff
}
.renz-right {
    float: right;
    display: block;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.renz-left {
    float: left;
    display: block;
    padding-right: 10px;
    padding-top: 60px;
    padding-bottom: 70px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.img-project{
    height: 200px;
    width: 200px;
    display: inline-block;
    
}
/***************Text Selector**************/
.footer-link{
    font-family: 'Candal', sans-serif;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer-name{
    font-family: 'Candal', sans-serif;
    font-size: 15px;
}
.desc-header{
    margin-bottom: 100px; 
}
.subject-header-text {
    color: #008c8c;
}
.sub-header-text-right {
    text-align: right;
    font-size: 25px;
    color: #008c8c;
}
.sub-header-text-left {
    text-align: left;
    font-size: 25px;
    color: #008c8c;
}